/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Create some Bowfolio CSS variables. */
:root {
  --cfm-navbar-bg: #256546;
  --cfm-navbar-bg-rgb: 37, 101, 70;
  --cfm-navbar-text: white;
  --cfm-navbar-highlight-text: var(--bs-gray-500);
}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--cfm-navbar-bg);
  --bs-dark-rgb: var(--cfm-navbar-bg-rgb);
  --bs-secondary-rgb: 45, 130, 89;
  --bs-link-color: #18678F;
}

/* Color the light Brand and links with dark color */
.bg-light span, .bg-light a {
  color:  var(--cfm-navbar-bg);
}

/* When logged in we switch the NavBar to bg-dark so we need to override the styles to give light text. */
.bg-dark span, .bg-dark a {
  color: var(--cfm-navbar-text);
}

/* When logged in we highlight the selected route. */
.bg-dark a.nav-link.active {
  color: var(--cfm-navbar-highlight-text);
}

/* Override the color on the dropdown when logged in. */
.bg-dark a.dropdown-item {
  color: var(--cfm-navbar-bg);
}

/* Landing page color blocking */
.landing-green-background {
  background-color: var(--cfm-navbar-bg);
  color: var(--cfm-navbar-text);
  padding-top: 20px;
}

.landing-white-background {
  background-color: var(--cfm-navbar-text);
  color: var(--cfm-navbar-bg);
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

body .btn-primary {
  --bs-btn-bg: #2d8259;
  --bs-btn-hover-bg: #489a70;
  --bs-btn-active-bg: #1f6b46;
  --bs-btn-border-color: #25734f;
  --bs-btn-hover-border-color: #388a60;
  --bs-btn-active-border-color: #175739;
  --bs-btn-disabled-bg: #489a70;
  --bs-btn-disabled-border-color: #388a60;
  border-width: 2px;
}

.landingText {
  color: #2d8259;
}

.backgroundImageTop {
  background: url("images/landing-top.png") no-repeat;
  background-size: 100%;
}

#backButton {
  --bs-btn-bg: #a6a6a6;
  --bs-btn-hover-bg: #b2b2b2;
  --bs-btn-active-bg: #818181;
  --bs-btn-border-color: #9f9e9e;
  --bs-btn-hover-border-color: #9b9b9b;
  --bs-btn-active-border-color: #595959;
  --bs-btn-disabled-bg: #afafaf;
  --bs-btn-disabled-border-color: #919191;
  border-width: 2px;
}

#landingPage {
  background: url("images/landing-top.png") no-repeat;
  background-size: 100%;
}

#landingBottom {
  background: url("images/landing-bottom.png") no-repeat bottom;
  background-size: 100%;
  height: 65vh;
}

/* Profile Template Page */

#imgProfile{
  position: relative;
  z-index: 1;
}
#profileName{
  color: #2d8259;
}

#cardProfile{
  padding-top: 150px;
  width: 60%;
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;
}

#filterDropdown {
  background-color: #2d8259;
  color: white;
  border-width: 0;
  --bs-btn-focus-shadow-rgb: none;
  width: 190px;
}

#filter-border {
  border-style: none;
  background-color: white;
  border-radius: 8px;
}

#filter-border .accordion-button:not(.collapsed), .accordion-item:not(.collapsed)  {
  --bs-accordion-active-bg: #2d8259;
  --bs-accordion-active-color: white;
  --bs-accordion-border-color: #7d828a;
  --bs-accordion-border-width: 2px;
  --bs-accordion-border-radius: 8px;
  --bs-accordion-btn-active-icon: white;
  --bs-btn-active-color: white;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: transparent;
}
